# ===============================================
# Android Studio / IntelliJ
# ===============================================
*.iml
*.ipr
*.iws
.idea/
.gradle/

# ===============================================
# Local Properties
# ===============================================
local.properties

# ===============================================
# Build Files
# ===============================================
/build/
/app/build/
captures/
.cxx/
*.apk
*.aab
*.ap_
*.apks
*.jar
*.war
*.ear

# ===============================================
# OS Files (macOS, Windows)
# ===============================================
.DS_Store
Thumbs.db

# ===============================================
# Misc
# ===============================================
.externalNativeBuild/